<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QR Codes</title>
</head>
<body>
    <h1>Generated QR Codes</h1>
    <div id="qr-codes-container">
        <% qrCodes.forEach(function(item) { %>
            <div>
                <h3><%= item.org %></h3>
                <img src="<%= item.qrCode %>" alt="<%= item.fname %> QR Code" />
            </div>
        <% }); %>
    </div>
</body>
</html>
